<div class="col-md-4 p-2">
  <div class="text-center player-panel">
    <div class="player-photo-container">
      <%= link_to team_manager.team_player_path(player.team, player) do %>
        <% photo = player.player_photos.where(home_page: true).order(created_at: :asc).last %>
        <% if photo.present? %>
          <%= image_tag photo.image_url %>
        <% else %>
          <%= image_tag 'team_manager/blank_girl.png' %>
        <% end %>
      <% end %>
      <div class="clearfix"></div>
    </div>
    <div class="p-2 info text-left">
      <h5 class="display-5"><%= player.name %> #<%= player.number %></h5>
      <p><%= player.height %> <%= player.position %></p>
      <p><%= player.year %> | <%= player.school %></p>
      <p class="mb-0 font-italic small"><%= player.quote %></p>
      <%= link_to 'Read More', team_manager.team_player_path(player.team, player) %>
    </div>
  </div>
</div>
