<h1>Our Story</h1>

<div class="row">
  <%= image_tag 'our_story/team_meal.jpg', class: 'our-story-image' %>
  <%= image_tag 'our_story/team_hs.jpg', class: 'our-story-image' %>
  <%= image_tag 'our_story/bd_trophy.jpg', class: 'our-story-image' %>
</div>
<div class="row">
  <%= image_tag 'our_story/marshall_trophy.jpg', class: 'our-story-image' %>
  <%= image_tag 'our_story/team_above.jpg', class: 'our-story-image' %>
  <%= image_tag 'our_story/team_ipad.jpg', class: 'our-story-image' %>
</div>
<div class="row">
  <%= image_tag 'our_story/team_living_room.jpg', class: 'our-story-image' %>
  <%= image_tag 'our_story/team_gym.jpg', class: 'our-story-image' %>
  <%= image_tag 'our_story/players_mom.jpg', class: 'our-story-image' %>
</div>
<div class="row">
  <%= image_tag 'our_story/team_niagara_logo.jpg', class: 'our-story-image' %>
</div>
<div class="clearfix"></div>
