<% @team ||= Team.last %>

<nav class="site-header barium py-1">
  <div class="float-left">
    <%= link_to main_app.root_path do %>
      <%= image_tag 'barium_logo_transparent_bg', width: "150" %>
    <% end %>
  </div>
  <div class="float-right">
    <div class="col-12 font-script" style="height: 50px;">
      <span class="font-script barium-by-deforge-script">Barium by Anna DeForge</span>
    </div>
    <div class="col-12 pt-2 text-right">
      <%= link_to 'About', main_app.about_path, class:'px-2 d-none d-md-inline-block' %>
      <%= link_to 'Contact', main_app.contact_path, class:'px-2 d-none d-md-inline-block' %>
      <%= link_to 'Team', team_manager.team_path(@team), class:'px-2 d-none d-md-inline-block' %>
    </div>
  </div>
  <div class="clearfix"></div>
</nav>
