<!DOCTYPE html>
<html>
  <head>
    <title>Barium Girls Basketball</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "team_manager/application" %>
    <%= stylesheet_link_tag    'team_manager/trix.css', media: 'all' %>
  </head>

  <body class="<%= current_page?('/') ? 'barium' : '' %>">
    <%= render 'layouts/header' %>
    <%= render 'layouts/navigation' %>
    <%= render 'layouts/notification' %>
    <%= yield :no_container %>

    <div class="container">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>

  </body>
</html>
